@model CoinsManagerWebUI.Models.View.CoinListModel
@{
    /**/

    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var period in Model.Coins.Select(x => x.Period).Distinct())
    {
        <div class="card-header" style="max-width: 905px">
            <h3>@Model.Periods.FirstOrDefault(x => x.Id == period).Period1</h3>
        </div>
        <br />
        <table>
            @for (int i = 0; i < Model.Coins.Where(x => x.Period == period).ToList().Count; i += 3)
            {
                <tr>
                    <td>
                        <div class="my-container">
                            @{ string imageCol1Location = "images/CoinsPreview" + Model.Coins.Where(x => x.Period == period).ToList()[i].PictPreviewPath/*.Replace(AppDomain.CurrentDomain.BaseDirectory, "")*/; }
                            <a href="@imageCol1Location.Replace("CoinsPreview","CoinsFullSize")"><img src="@Url.Content(@imageCol1Location)" class="table table-hover" style="max-width: 300px"></a>
                            <div class="my-text-block">
                                @Model.Coins.Where(x => x.Period == period).ToList()[i].Nominal @Model.Coins.Where(x => x.Period == period).ToList()[i].Currency @Model.Coins.Where(x => x.Period == period).ToList()[i].Year @(" #")@(Model.Coins.Where(x => x.Period == period).ToList()[i].Id)
                                
                            </div>
                        </div>
                    </td>

                    @if (Model.Coins.Where(x => x.Period == period).ToList().Count > i + 1)
                    {
                        <td>
                            <div class="my-container">
                                @{ string imageCol2Location = "images/CoinsPreview" + Model.Coins.Where(x => x.Period == period).ToList()[i + 1].PictPreviewPath/*.Replace(AppDomain.CurrentDomain.BaseDirectory, "")*/; }
                                <a href="@imageCol2Location.Replace("CoinsPreview","CoinsFullSize")"><img src="@Url.Content(@imageCol2Location)" class="table table-hover" style="max-width: 300px"></a>
                                <div class="my-text-block ">
                                    @Model.Coins.Where(x => x.Period == period).ToList()[i + 1].Nominal @Model.Coins.Where(x => x.Period == period).ToList()[i + 1].Currency @Model.Coins.Where(x => x.Period == period).ToList()[i + 1].Year  @(" #")@Model.Coins.Where(x => x.Period == period).ToList()[i + 1].Id
                                    
                                </div>
                            </div>
                        </td>
                    }

                    @if (Model.Coins.Where(x => x.Period == period).ToList().Count > i + 2)
                    {
                        <td>
                            <div class="my-container">
                                @{ string imageCol3Location = "images/CoinsPreview" + Model.Coins.Where(x => x.Period == period).ToList()[i + 2].PictPreviewPath/*Replace(AppDomain.CurrentDomain.BaseDirectory, "")*/; }
                                <a href="@imageCol3Location.Replace("CoinsPreview","CoinsFullSize")"><img src="@Url.Content(@imageCol3Location)" class="table table-hover" style="max-width: 300px"></a>
                                <div class="my-text-block">
                                    @Model.Coins.Where(x => x.Period == period).ToList()[i + 2].Nominal @Model.Coins.Where(x => x.Period == period).ToList()[i + 2].Currency @Model.Coins.Where(x => x.Period == period).ToList()[i + 2].Year @(" #")@Model.Coins.Where(x => x.Period == period).ToList()[i + 2].Id
                                    
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    }

    <input type="button"
         value="Previous Country"
         onclick="location.href='@Url.Action("Coin", "CoinCatalog", new {countryId = Model.CountryId-1})'" />
    <input type="button"
         value="Next Country"
         onclick="location.href='@Url.Action("Coin", "CoinCatalog", new {countryId = Model.CountryId+1})'" />
